:root {
  --primary-color: #659365;
  --secondary-color: #073340;
  --font-size-medium: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.testimonials {
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.section-text {
  text-align: center;
  padding-bottom: 30px;
}

.section-text h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
}

.video-presentation {
  background-color: rgb(185, 242, 161, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-presentation > div {
  display: grid;
  place-items: center;
  max-width: 1200px;
  padding: 40px;
  gap: 40px;
}

.video-presentation div h2 {
  font-size: 2rem;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video img:first-child {
  width: 100%;
}

.video img:last-child {
  position: absolute;
  cursor: pointer;
}

.video-presentation div button.btn-contact {
  width: 100%;
  max-width: 200px;
}

.video-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video img:first-child {
  border-radius: 10px;
}

@media screen and (min-width: 850px) {
  .video-text {
    text-align: left;
  }
  .video-presentation > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: center;
  }

  .video {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
  max-width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 5px;
  transition: 0.5s;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-text h3 {
  font-size: 1.8rem;
}

.card-text p {
  font-size: 1.2rem;
  color: #5d5a5a;
}

.card-link {
  margin-top: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 0.875rem;
  color: #5d5a5a;
}

.services {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card > img {
  height: 180px;
}

.cards .card:hover {
  box-shadow: 0 0 1px 5px rgba(10, 51, 90, 0.3);
  transform: scale(1.02);
}

.plans {
  background-color: #b9f2a1;
  padding: 80px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 530px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 1px 3px #659365;
}

.plan-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.plan-card-header h3 {
  font-size: 2rem;
  font-weight: 500;
}

.plan-card-header p {
  font-weight: 600;
  font-size: 1.7rem;
}

.plan-card-header p span {
  font-size: 1.1rem;
  font-weight: 500;
  color: #999;
}

.all-cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.features {
  width: 100%;
}

.features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.features ul li {
  width: 100%;
  position: relative;
  max-width: 200px;
  text-align: center;
}

.features ul li::before {
  content: url("./img/check-img.png");
  position: absolute;
  left: -10px;
}

.plans button {
  width: 100%;
  max-width: 190px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #b9f2a1;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.plan-card.premium {
  background: rgb(7, 51, 64);
  background: linear-gradient(
    355deg,
    rgba(7, 51, 64, 1) 0%,
    rgba(101, 147, 101, 1) 100%
  );
  color: #fff;
  transform: scale(1.1);
}

.plan-card.premium .plan-card-header p span {
  color: #fff;
}

@media screen and (min-width: 1175px) {
  .all-cards {
    gap: 0;
  }
}
