* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop-banner {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.tablet-banner {
  display: none;
  position: absolute;
  top: 0;
  z-index: -10;
}

.mobile-banner {
  display: none;
  position: absolute;
  top: 0;
  z-index: -10;
}

nav {
  position: relative;
  display: flex;
  padding: 0 25px;
  padding-top: 60px;
  justify-content: space-between;
}

.nav-links {
  display: none;
}

@media screen and (max-width: 1024px) {
  .desktop-banner {
    display: none;
  }

  .tablet-banner {
    display: block;
    max-width: 100%;
  }
}

@media screen and (max-width: 428px) {
  .tablet-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
    max-width: 100%;
  }
}

@media screen and (min-width: 730px) {
  .nav-links {
    display: flex;
  }

  .ham-icon {
    display: none;
  }
}
