* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop-banner {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.tablet-banner {
  display: none;
  position: absolute;
  top: 0;
  z-index: -10;
}

.mobile-banner {
  display: none;
  position: absolute;
  top: 0;
  z-index: -10;
}

@media screen and (max-width: 1024px) {
  .desktop-banner {
    display: none;
  }

  .tablet-banner {
    display: block;
    max-width: 100%;
  }
}

@media screen and (max-width: 428px) {
  .tablet-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
    max-width: 100%;
  }
}
