.portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 90px;
}

.portfolio img {
  width: 100%;
}

.portfolio .section-text {
  padding: 30px 80px;
}

.portfolio .pictures {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(5, 1fr);
}
