.testimonials {
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.section-text {
  text-align: center;
  padding-bottom: 30px;
}

.section-text h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
}
