<div class="video-presentation">
  <div>
    <div class="video-text">
      <h2>Crafting Digital Brilliance Explore Our Methodology</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit itaque
        mollitia sint accusantium nam atque ipsa ea sit, enim qui et iste rem
        exercitationem laboriosam vitae deserunt quisquam fugiat earum!
      </p>
    </div>

    <div class="video">
      <img src="img/video-thumbnail.png" alt="video thumbnail" />
      <img src="img/play-icon.png" alt="play icon" />
    </div>

    <button class="btn-contact">Contact Us</button>
  </div>
</div>
